# 03과 단변량분석_숫자형변수_기초통계량

<img src='https://github.com/DA4BAM/image/blob/main/%EB%8B%A8%EB%B3%80%EB%9F%89%EB%B6%84%EC%84%9D.png?raw=true' width=400/>

## 1.라이브러리 불러오기

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## 2.대푯값

1) 평균

In [2]:
# 산술평균
a = [1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30]
print(np.mean(a))

# 조화평균
# 거리 20 km
# 갈때 속력 60 km
# 올때 속력 80 km
# 평균 속력은?

a1, a2 = 60, 80
hm = 2*a1*a2 / (a1 + a2)
print(hm)

10.476190476190476
68.57142857142857

2) 중앙값(중위수, median)  

자료의 순서상 가운데 위치한 값

In [3]:
a = [1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30]
print(np.median(a))

8.0

3) 최빈값

자료 중에서 가장 빈번하게 나타나는 값(빈도가 높은 값)

In [4]:
a = [1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30]
a = pd.Series(a)
a.mode()

0    4
dtype: int64

4) 4분위수

![](https://mblogthumb-phinf.pstatic.net/20150702_229/jevida_1435803723327eyeeG_PNG/3.png?type=w2)

In [5]:
a = [1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30]
print(np.percentile(a, [0, 25, 50, 75, 100]))

[ 1.  4.  8. 17. 30.]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

연습문제를 풀어 봅시다.

In [ ]:
l1 = list(range(0, 20,5)) + list(range(0,20,2)) + [10,11,12,15,15,17]
# l1의 평균


# l1의 중앙값


# l1의 최빈값


# l1의 사분위수

## 3.기초통계량

1) 시리즈.describe()

In [ ]:
a = [1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30]
s = pd.Series(a)
print(s.describe())

2) 데이터프레임.dtypes

In [ ]:
# 데이터프레임 각 변수들의 데이터 타입을 조회해 봅시다.
data = pd.read_csv('https://bit.ly/3FsgwkJ')
data.dtypes

3) 데이터프레임.info()

In [ ]:
# 데이터프레임 각 변수들의 데이터 건수와 타입을 조회해 봅시다.
data.info()

4) 데이터프레임.describe()

In [ ]:
# 데이터프레임 각 변수들의 기초통계량을 조회해 봅시다.
data.describe()

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

다음 경로로부터 데이터프레임을 저장하고, 다음을 수행해 봅시다.
* 경로 : https://bit.ly/3EuWvZw
* .info()
* .describe()

## 4.종합실습

### 1) 기본문제

① 아래와 같은 총 21개의 값이 있다고 할 때, numpy를 이용하여 다음의 값들을 구하시오.
* 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30  

(1) 중앙값  
(2) 최빈값  
(3) 4분위수

In [ ]:
a = [1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30]

# (1) 중앙값


# (2) 최빈값


# (3) 4분위수

② 아래와 같은 총 21개의 값이 있다고 할 때, 이 값들을 시리즈로 변환하고 describe 함수를 이용하여 기초 통계량을 구하시오.
* 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30

In [ ]:
a = [1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10, 11, 15, 17, 17, 19, 20, 25, 30]

### 2) titanic 데이터프레임
* url :  'https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv'

**[titanic_simple 데이터 셋 정보]**

- PassengerId : 승객번호
- Survived : 생존여부(1:생존, 0:사망)
- Pclass : 객실등급(1:1등급, 2:2등급, 3:3등급)
- Name : 승객이름
- Sex : 성별(male, female)
- Age : 나이
- Fare : 운임($)
- Embarked : 승선지역(Southhampton, Cherbourg, Queenstown)

① 데이터를 불러와서 상위 5개행을 조회하시오.

② 데이터의 기본 정보를 조회하시오. (.info())

③ 데이터의 변수들의 자료형을 출력하시오. (.dtypes)

④ 데이터에서 숫자 type 변수들에 대한 기초 통계량을 출력하시오. (.describe())

⑤'Age' 변수의 기초 통계량을 출력하시오.

기초통계량으로 부터 파악할 수 있는 내용은 무엇인가요?

⑥'Fare' 변수의 기초 통계량을 출력하시오.

기초통계량으로 부터 파악할 수 있는 내용은 무엇인가요?

⑦'Age' 변수의 중앙값과 평균을 출력하시오.

기초통계량으로 부터 파악할 수 있는 내용은 무엇인가요?

### 3) New York Air Quality
* url : https://bit.ly/3qmthqZ

**[airquality 데이터 셋 정보]**

- Ozone: 오존 농도  
- Solar.R: 태양복사량
- Wind: 풍속
- Temp: 기온
- Month: 월
- Day: 일

① 데이터를 불러와서 상위 5개행을 조회하시오.

② 데이터의 기본 정보를 조회하시오. (.info())

③ 데이터의 변수들의 자료형을 출력하시오. (.dtypes)

④ 데이터에서 숫자 type 변수들에 대한 기초 통계량을 출력하시오. (.describe())

⑤'Ozone' 변수의 기초 통계량을 출력하시오.

기초통계량으로 부터 파악할 수 있는 내용은 무엇인가요?

⑥'Temp' 변수의 4분위수를 출력하시오.

기초통계량으로 부터 파악할 수 있는 내용은 무엇인가요?